<h1>New RainMachine</h1>

<%= form_for @changeset, Routes.device_path(@conn, :create), fn f -> %>

  <%= hidden_input f, :location_id %>
  <%= hidden_input f, :name, value: "RainMachine" %>
  <%= hidden_input f, :type, value: "rain_machine" %>
  <%= text_input f, :ip_address %>
  <%= text_input f, :app_key %>

  <div>
    <%= submit "Add Nest System" %>
  </div>
<% end %>
