<h1>New Sonos</h1>

<%= form_for @changeset, Routes.device_path(@conn, :create), fn f -> %>

  <%= hidden_input f, :name, value: "Sonos" %>
  <%= hidden_input f, :type, value: "sonos" %>

  <div>
    <%= submit "Add Sonos System" %>
  </div>
<% end %>
