/* This file is for your main application css. */

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "themes/stark/core";

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

#chart {
  height: 400px;
  border: 2px solid blue;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  display: inline;
}

.river_header {
  background-color: #CCCCDD;
  .btn-sm {
    padding: 0.25rem;
  }
}

.my-panel {
  padding-top: 0px;
  padding-bottom: 32px;
}

.tab-content {
  padding-left: 6px;
  padding-right: 6px;
}

main {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 180px;
}

.absolute-right-btn {
  position: absolute;
  right: 80px;
}

.card-body {
  padding: 0.5rem;
  h5 {
    font-size: 0.95rem;
  }
  .card-text {
    font-size: 0.8rem;
  }
  .date_box {
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 0.5rem;
  }
}
.card-link + .card-link {
    margin-left: .25rem;
}

.live_row {
  justify-content: space-around;
  width: 100%;
}
.blocker {
  clear: both;
}

.card .feedflare {
  display: none;
}

li.nav-item{
  display: inline-block;
}

.nav-tabs .nav-link.active {
  border-color: #607c8a;
}
ul.nav.nav-tabs{
  padding-bottom: 1px;
}

ul.nav.nav-tabs:hover{
  padding-bottom: 1px;
}

.nav-tabs .nav-link {
  border-bottom: 1;
}
